.header {
  padding: 27px 0 0 28px;

  &__arrow {
    width: 16px;
    height: 16px;
    fill: none;
  }
  &__back {
    padding: 5px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    &:hover {
      background-color: #6e798c18;
    }
    &:active {
      background-color: #6e798c2f;
    }
    &_text {
      font-weight: 700;
      font-size: 18px;
      line-height: 1.32;
      color: black;
    }
  }
}
@media (min-width: 768px) {
  .header {
    padding: 25px 0 0 54px;
  }
}
