.characters {
  padding-top: 92px;
  padding-bottom: 50px;
  &__box {
    max-width: 600px;
    margin: 0 auto;
  }
  &__logo {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 31px;
  }
  &__empty {
    margin-top: 95px;
    padding: 100px 0;
    text-align: center;
    font-size: 30px;
    color: rgba(201, 200, 200, 0.896);
  }
  &__spinner {
    margin-top: 95px;
    padding: 90px 0px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    justify-content: center;
    gap: 32px 20px;
    margin-top: 95px;
    margin-bottom: 20px;
  }
}
@media (min-width: 360px) {
  .characters {
    padding-top: 86px;
    padding-bottom: 188px;
    &__list {
      grid-template-columns: repeat(auto-fill, 320px);
    }
  }
}

@media (min-width: 1200px) {
  .characters {
    &__list {
      grid-template-columns: repeat(auto-fill, 240px);
      gap: 24px 20px;

    }
  }
}
