<app-header></app-header>
<div class="details">
  <div class="container">
    <div class="details__spinner" *ngIf="loading$ | async">
      <app-spinner></app-spinner>
    </div>
    <ng-container *ngIf="character">
      <img
        [src]="character.image"
        [alt]="character.name"
        class="details__img"
      />
      <h1 class="details__name">{{ character.name }}</h1>
      <h2 class="details__subtitle">Informations</h2>
      <ul class="details__list">
        <li class="details__item">
          <h4 class="details__item_title">Gender</h4>
          <div class="details__item_subtitle">
            {{ character.gender ? character.species : "unknown" }}
          </div>
        </li>
        <li class="details__item">
          <h4 class="details__item_title">Status</h4>
          <div class="details__item_subtitle">
            {{ character.status ? character.species : "unknown" }}
          </div>
        </li>
        <li class="details__item">
          <h4 class="details__item_title">Specie</h4>
          <div class="details__item_subtitle">
            {{ character.species ? character.species : "unknown" }}
          </div>
        </li>
        <li class="details__item">
          <h4 class="details__item_title">Origin</h4>
          <div class="details__item_subtitle">
            {{ character.origin.name ? character.origin.name : "unknown" }}
          </div>
        </li>
        <li class="details__item">
          <h4 class="details__item_title">Type</h4>
          <div class="details__item_subtitle">
            {{ character.type ? character.type : "unknown" }}
          </div>
        </li>
      </ul>
    </ng-container>
  </div>
</div>
